#available-permissions {margin-top:20px}
.asset-img {
  @include border-radius-same(10%);
  float: left;
  width: 200px;
  height: 149px;
  .right & {
    float: right;
  }
}
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}
.daterangepicker .dropdown-menu {
  z-index:1151 !important;
}
